*.o
*.exe
src/*.txt
out/*
data/*
bin/*
.csv
*.ply
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
util/.DS_Store
src/.DS_Store
data/.DS_Store
data/img/.DS_Store
data/img/carl_pan/.DS_Store
data/img/spongebob_pan/.DS_Store
data/img/everest_40d_untextured
util/bolbi.jpg.temp.jpg
._*
data/._*
util/._*
util/io/._*

doc/doxygen/documentation/*

util/CI/bin/
util/CI/obj/
util/CI/tmp/

project.*
