*~
*.o
*.log
bin
bin/*
/bin/*
*.ply
.DS_Store
util/.DS_Store
src/.DS_Store
data/.DS_Store
data/img/.DS_Store
data/img/carl_pan/.DS_Store
data/img/spongebob_pan/.DS_Store
data/img/everest_40d_untextured